section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 50%;
}

label {
    display: block;
}

form {
    border: 1px solid black;
    border-radius: 5%;
}

fieldset {
    border: none;
    border-bottom: 1px solid black;
}

.sendButton {
    width: 120px;
    height: 50px;
    font-size: 15px;
}